.recordNum ul{
    height: 200px;
    list-style-type: none;
}
@media (max-width: 576px){
.recordNum{
   display: none;
}}
.styleofLearn img{
    
    box-shadow: 20px 15px 15px rgb(91, 91, 90);
    height: 200px;
}