<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>學識伴LearnPlus++ : 首頁</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@40,400,0,0" />
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <!-- banner -->
    <section class="banner-bg">
      <div class="container d-flex jutify-content-center align-items-center">
        <div class="mx-auto d-flex flex-column align-items-center slogan-position">
          <h1 class="text-success position-relative slogan me-128 mb-2" data-stroke="共學共成">共學共成</h1>
          <h1 class="text-success position-relative slogan ms-96" data-stroke="知識無界">知識無界</h1>
          <h4 class="mt-4 ms-sm-auto fs-20-24">團隊的力量，是學習的捷徑！</h4>
        </div>
      </div>
    </section>
    <!-- web intro -->
    <section>
    <div class="container">
      <div class="py-9 py-lg-15">
        <div class="row ">
          <div class="col-md-10 mx-auto">
            <div class="row flex-column flex-lg-row">
              <div class="col-lg-7">
                <div class="d-flex flex-column h-100">
                  <div class="my-auto">
                    <h3 class="mb-2 mb-lg-5 fs-lg-1">學識伴</h3>
                    <a href="#index.html"><img src="/assets/images/Logo text.png" alt="logo-text" class="d-block mb-5 mb-lg-7 plus"></a>
                    <p class="fs-lg-3 mb-5">本平台支持不同MBTI人群共同線上學習，促進多樣性交流，增強合作效能，並提供個性化的學習體驗以滿足不同需求。</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-5">
                <div class="circle-box">
                  <div class="position-relative">
                    <div class="circle-out circle-position-1 position-absolute p-3 bg-white">
                      <div class="circle-ins d-flex flex-column align-items-center">
                        <div class="my-auto">
                          <p class="text-center "><span class="material-symbols-outlined text-primary-dark fs-1">done_outline</span></p>
                          <h4>深入學習</h4>
                        </div>
                      </div>
                    </div>
                    <div class="circle-out circle-position-2 position-absolute p-3 bg-white">
                      <div class="circle-ins d-flex flex-column align-items-center">
                        <div class="my-auto">
                          <p class="text-center "><span class="material-symbols-outlined text-primary-dark fs-1">done_outline</span></p>
                          <h4>個性化教學</h4>
                        </div>
                      </div>
                    </div>
                    <div class="circle-out circle-position-3 position-absolute p-3 bg-white">
                      <div class="circle-ins d-flex flex-column align-items-center">
                        <div class="my-auto">
                          <p class="text-center "><span class="material-symbols-outlined text-primary-dark fs-1">done_outline</span></p>
                          <h4>合作互助</h4>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </section>
    <!-- teacher -->
    <section>
    
    </section>
    <!-- course -->
    <section>
      
    </section>
    <!-- mbtitest -->
    <section class="mbtitest-bg">
      <div class="container">
        <div class="pt-9 pb-440">
          <div class="row">
            <div class="col-lg-10 mx-auto">
              <div class="d-flex flex-column align-items-center">
                <h1 class="mb-5 mb-lg-7">MBTI測驗</h1>
                <p class="text-center mb-5 mb-lg-7">通過區分色彩化的性格類型，幫助人們了解自身優勢，改善溝通合作，規劃職業方向，促進個人學習和團隊發展。</p>
                <h5 class="btn btn-primary border-2 border-black">前往測驗 <i class="bi bi-arrow-right"></i></h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

   

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
