.card-width{
    max-width: 320px;
}
@include md{
    .card-width{
        max-width: 340px;
    }
}
.card-img{
    border: 2px solid $gray-80;
    border-radius: 8px;
}
.collect-bookmark-fill{
    display: none;
}
.collect-ctrl:checked ~ .collect-bookmark{
    display: none;
}
.collect-ctrl:checked ~ .collect-bookmark-fill{
    display: inline-block;
}
.dis-width{
    width: 56px;
}
.dis-position{
    position: absolute;
    top: -16px;
    right: -16.33px;
    z-index: 1000;
}
.card-icon-bg{
    background-color: $white;
    padding: 9px 14px;
    border-radius: 50%;
}
.card-icon-position{
    position: absolute;
    right: 35.67px;
    bottom: 28px;
}

//personal-article-card
.card-articleicon-position{
    position: absolute;
    right: 12px;
    bottom: 12px;
}