.logo{
  max-width: 70px;
}
@include xxxl{
  .logo{
    max-width: 100%;
  }
}
.nav-width{
  width: 100% !important;
}
@include xxxl{
  .nav-width{
    width: 250px !important;
  }
}
@include xxxl{
  .nav-border{
    border: 2px solid $gray-80;
    border-radius: 8px;
  }
}
.btn-border-top{
  border-top: 2px solid $gray-80;
}
.nav-btn-hover{
  &:hover{
    border-top: 2px solid $gray-80;
  }
}
.nav-hover{
  &:hover{
    border-right: 2px solid $gray-80;
  }
}
.nav-position{
  position: fixed;
  top: 0;
}

@include xxxl{
  .nav-position{
    top: 64px;
    left: 32px;
  }
}

//signIn-btn
.border-end-dark{
  border-right: 2px solid $gray-80;
}
.radius-bottom-l{
  border-bottom-left-radius: 8px !important;
}

.radius-bottom-r{
  border-bottom-right-radius: 8px !important;
}
.li-hover{
  &:hover{
    color: $primary-dark;
  }
}